<div class="text-right">
  <div container="body" ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-danger" id="dropdown" ngbDropdownToggle>
      New User
    </button>
    <div ngbDropdownMenu>
      <button ngbDropdownItem [routerLink]="['/client', clientId, 'project', projectId, 'create-user']">
        Create New
      </button>
      <button ngbDropdownItem (click)="import.open()">Import</button>
    </div>
  </div>

  <app-upload-file-modal #import title="Import USERS"
    template="https://docs.google.com/spreadsheets/d/1pSavKw9xt18TxTG_EIC3GMPKVdSjjETx/edit#gid=1762430451">
  </app-upload-file-modal>
</div>

<div class="grid-container d-flex mt-3">
  <ag-grid-angular style="width: 100%; height: auto;" class="ag-theme-alpine" [rowData]="users"
    [columnDefs]="columnDefs" [frameworkComponents]="frameworkComponents" (gridReady)="onGridReady($event)"
    (gridSizeChanged)="onGridSizeChanged($event)" (filterOpened)="onFilterOpened($event)">
  </ag-grid-angular>
</div>

<app-pagination [totalItems]="totalItems" (changePage)="onPageChange($event)" [page]="page"></app-pagination>