<app-breadcrumb></app-breadcrumb>

<ng-container *ngIf="isLoading; else elseTemplate">
  <div class="my-5">
    <app-loading-spinner></app-loading-spinner>
  </div>
</ng-container>

<ng-template #elseTemplate>
  <div class="header">
    {{ clientDetail.name }}
  </div>

  <ul ngbNav #nav="ngbNav" class="nav-tabs mt-3" [(activeId)]="active">
    <li [ngbNavItem]="menu.id" *ngFor="let menu of menus">
      <a ngbNavLink class="nav-link" [routerLink]="menu.path" routerLinkActive="active">{{ menu.label }}</a>
    </li>
  </ul>

  <div class="pt-3 custom-height">
    <router-outlet></router-outlet>
  </div>
</ng-template>
