<div class="d-flex justify-content-between">
    <div class="body-01 my-auto">Feature Setting</div>
</div>

<div class="row">
    <div class="col-12 mt-3">
        <div class="box">
            <div class="box-title">
                <div class="decorate"></div>
                <div class="title">HR Solution</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-8 col-lg-7 mt-3">
        <div class="form-group">
            <label class="required">Check-In & Check-Out</label>
            <ng-select class="mb-2" [items]="items" placeholder="Select">
            </ng-select>
        </div>
        <div class="form-group">
            <label class="required">Router Plan</label>
            <ng-select class="mb-2" [items]="items" placeholder="Select">
            </ng-select>
        </div>
        <div class="form-group">
            <label class="required">Leave Request</label>
            <ng-select class="mb-2" [items]="items" placeholder="Select">
            </ng-select>
        </div>
        <div class="form-group">
            <label class="required">OT Request</label>
            <ng-select class="mb-2" [items]="items" placeholder="Select">
            </ng-select>
        </div>
    </div>

    <div class="col-12 mt-3">
        <div class="box">
            <div class="box-title">
                <div class="decorate"></div>
                <div class="title">Field Marketing</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-8 col-lg-7 mt-3">
        <div class="form-group">
            <label class="required">Todo</label>
            <ng-select class="mb-2" [items]="items" placeholder="Select">
            </ng-select>
        </div>
        <div class="form-group">
            <label class="required">Track Route & Point</label>
            <ng-select class="mb-2" [items]="items" placeholder="Select">
            </ng-select>
        </div>
        <div class="form-group">
            <label class="required">On shelf Available(OSA) & Out of strock(OOS)</label>
            <ng-select class="mb-2" [items]="items" placeholder="Select">
            </ng-select>
        </div>
        <div class="form-group">
            <label class="required">Price Tracking</label>
            <ng-select class="mb-2" [items]="items" placeholder="Select">
            </ng-select>
        </div>
        <div class="form-group">
            <label class="required">SKU Compliance</label>
            <ng-select class="mb-2" [items]="items" placeholder="Select">
            </ng-select>
        </div>
        <div class="form-group">
            <label class="required">Sales Report</label>
            <ng-select class="mb-2" [items]="items" placeholder="Select">
            </ng-select>
        </div>
        <div class="form-group">
            <label class="required">Event Stock</label>
            <ng-select class="mb-2" [items]="items" placeholder="Select">
            </ng-select>
        </div>
        <div class="form-group">
            <label class="required">Survay</label>
            <ng-select class="mb-2" [items]="items" placeholder="Select">
            </ng-select>
        </div>
    </div>
</div>