<div class="header">
  Change password
</div>

<form [formGroup]="formGroup" (submit)="onSubmit()">
  <div class="row">
    <div class="col-11 col-md-8 col-lg-7 mt-3 p-0">
      <div class="form-group">
        <label class="required">Current Password</label>
        <input type="password" class="form-control" appValidationForm formControlName="current_password">
      </div>

      <div class="form-group my-4">
        <label class="required">New Password</label>
        <input type="password" class="form-control" appValidationForm formControlName="new_password"
          (keyup)="onPasswordTyping($event.target.value)">
      </div>

      <div class="row m-0">
        <div class="col-10 p-3 border border-danger rounded">
          <div> Passwords must contain at least three of the following four types
            of characters :
          </div>
          <div class="d-flex" *ngFor="let key of validateKey">
            <div class="validate">
              <i class="fas fa-check-circle d-flex align-items-center text-success"
                *ngIf="validatePassword[key].verify"></i>
              <i class="fas fa-times-circle d-flex align-items-center text-danger"
                *ngIf="!validatePassword[key].verify"></i>
            </div>
            <div>{{ validatePassword[key].label }}</div>
          </div>
        </div>
      </div>

      <div class="form-group my-4">
        <label class="required">Confirm New Password</label>
        <input type="password" class="form-control" appValidationForm formControlName="confirm_new_password">
      </div>

      <div class="text-right">
        <button class="btn btn-outline-danger mr-3" type="button" appBackLocation>
          Cancel
        </button>
        <button class="btn btn-danger" type="submit" appSubmitForm [ladda]="submitting">
          Save
        </button>
      </div>
    </div>
  </div>
</form>