<div class="d-flex flex-column h-100">
  <div class="text-right">
    <button class="btn btn-outline-danger" (click)="import.open()">
      Import Leave Settings
    </button>
  </div>

  <div class="d-flex flex-column h-100">
    <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-alpine mt-3" [rowData]="dataList"
      [columnDefs]="columnDefs" [frameworkComponents]="frameworkComponents" (filterOpened)="onFilterOpened()"
      (gridSizeChanged)="onGridSizeChanged($event)">
    </ag-grid-angular>

    <app-pagination></app-pagination>
  </div>
</div>

<app-upload-file-modal #import title="Import leave settings"
  template="https://docs.google.com/spreadsheets/d/1looASa0GHpUU67wVS5xPcoM5RqkGZpBB/edit#gid=1561026883">
</app-upload-file-modal>