<div class="box my-4">
  <div class="box-title">
    <div class="decorate"></div>
    <div class="title">
      Line of approval
    </div>
  </div>

  <div class="my-2">
    <div class="title">
      level 1
    </div>
    <div class="body-01">Ana Jay</div>
    <div class="font-italic">
      <div class="italic-01">Approved on 03 Nov 2021</div>
    </div>
  </div>

  <div class="my-2">
    <div class="title">
      Level 2
    </div>
    <div class="body-01">Naruedee Sripradhum</div>
  </div>
</div>