<div class="d-flex flex-column h-100">
  <div class="input-group custom-date">
    <input type="text" class="form-control" placeholder="Select date" ngbDatepicker #d="ngbDatepicker"
      (click)="d.toggle()" [value]="date ? (dateFormat | date: 'MMMM dd, yyyy') : ''" [firstDayOfWeek]="7"
      (dateSelect)="onDateSelect($event)" readonly>
    <div class="input-group-append">
      <div class="input-group-text" (click)="d.toggle()">
        <svg-icon src="../../../../../assets/images/icons/arrow_down.svg"></svg-icon>
      </div>
    </div>
  </div>

  <div class="h-100 d-flex">
    <ag-grid-angular style="width: 100%; height: auto;" class="ag-theme-alpine mt-3" [rowData]="dataList"
      [columnDefs]="columnDefs" [frameworkComponents]="frameworkComponents"
      (gridSizeChanged)="onGridSizeChanged($event)" [suppressFieldDotNotation]="true"
      (filterOpened)="onFilterOpened($event)" (cellClicked)="onCellClicked($event)">
    </ag-grid-angular>
  </div>

  <app-pagination [totalItems]="totalItems" (changePage)="onPageChange($event)" [page]="page"></app-pagination>
</div>