.modal-content{
  padding: 2rem 2rem 4rem 2rem;
  border: 0;
}

.input-list{
  padding: 0rem 0rem 1rem 0rem;
}

.add-list-input-group{
  padding: 1rem 0rem;
}

label{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
