<div class="d-flex flex-column h-100">
  <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-alpine mt-3" [rowData]="dataList"
    [columnDefs]="columnDefs" [frameworkComponents]="frameworkComponents" (gridSizeChanged)="onGridSizeChanged($event)"
    (cellClicked)="onCellClicked($event)" [suppressFieldDotNotation]="true" (filterOpened)="onFilterOpened()">
  </ag-grid-angular>

  <app-pagination [totalItems]="totalItems" (changePage)="onPageChange($event)" [page]="page"></app-pagination>
</div>