<div class="row my-4">
  <div class="col-12 col-lg-2 m-auto d-flex justify-content-center">
    <div class="square">
      <img [src]="data.user.photo || 'assets/images/icons/adecco_user.svg'" alt="profile">
    </div>
  </div>
  <div class="col-10 row mt-3">
    <div class="col-12 col-md-6 col-lg-5 m-auto">
      <div class="title">name</div>
      <div class="body-01">{{ data.user.full_name }}</div>
    </div>
    <div class="col-12 col-md-6 col-lg-7 m-auto">
      <div class="title">phone</div>
      <div class="body-01">{{ data.user.phone_number || '-' }}</div>
    </div>
    <div class="col-12 col-md-6 col-lg-5">
      <div class="title">Working hour</div>
      <div class="body-01">9:00 - 18:00</div>
    </div>
    <div class="col-12 col-md-6 col-lg-7">
      <div class="title">SUPERVISOR</div>
      <div class="body-01">{{ data.supervisor?.full_name || '-'}}</div>
    </div>
  </div>
</div>

<div class="workplace-box p-3">
  <div class="title">WORKPLACE</div>
  <div class="workplace mt-2">
    <span class="workplace-badge pointer" [ngClass]="{'active': workplace === selectWorkplace}"
      *ngFor="let workplace of data.workplaces" (click)="onSelectWorkplace(workplace)">
      {{ workplace }}
    </span>
  </div>
</div>