@import "../check-in-cell-renderer/check-in-cell-renderer.component.scss";

.title {
  font-size: 10px;
  color: #989797;
  text-transform: uppercase;
}

.workplace-box {
  background: #f4f5f7;
  border-radius: 4px;

  .workplace .workplace-badge {
    font-size: 12px;

    &.active {
      background-color: #c9e6e2;
    }
  }
}
