<form [formGroup]="formGroup" (submit)="onSubmit()">
  <div class="row">
    <div class="col-12 heading-03 p-0 font-weight-bold">
      Add Leave
    </div>

    <div class="col-10 mt-3 p-0">
      <div class="form-group">
        <label>Leave Name</label>
        <input type="text" class="form-control" formControlName="name" appValidationForm>
      </div>
      <div class="form-group">
        <label>Type</label>
        <ng-select appendTo="body"
            [items]="types"
            bindLabel="label"
            bindValue="value"
            formControlName="leave_type_setting"
            appValidationForm
            [clearable]="false">
        </ng-select>
      </div>
      <div class="form-group">
        <label>Earn Income</label> <br>
        <input type="checkbox" class="ml-2" formControlName="earn_income">
      </div>

      <div class="d-flex justify-content-end gap-10 pt-0">
        <button type="button" class="btn btn-outline-danger" appBackLocation>Cancel</button>
        <button type="submit" class="btn btn-danger" [ladda]="submitting" appSubmitForm>{{ id ? 'Save' : 'Add' }}</button>
      </div>
    </div>
  </div>
</form>